* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.container-fluid {
  display: flex;
  background-color: #6a9b5d;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

.navbar-brand span {
  color: #ffffff;
  font-size: 1.3rem;
}
.titulo2{
  color:white;
}

.logo{
  border-radius: 50% !important;
  width: 60px !important;
  height: 60px !important;
  margin-right: 1rem !important;
}
.volver {
  display: flex;
  height: 100% !important;
  border: 1px solid white;
  border-radius: 15px !important;
  background-color: #6ca76c !important;
  color: #f9fff9 !important;
  text-decoration: none !important;
  padding:  10px ;
}

#miFormulario {
  display: flex;
  max-width: 53%;
  width: 90%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  margin: 30px auto;
  min-height: 600px;
}

.form-container {
  flex: 1;
  padding: 30px;
  color: rgb(0, 0, 0);
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.campo label {
  font-size: 18px;
}

.campo input,
.campo select, .campo textarea {
  border: none !important;
  outline: none;
  font-family: "Sour Gummy", sans-seri;
  font-weight: 200;
}
.campo input{
  padding: 8px;
  border-bottom: 1px solid gray !important;
 }

.campo select{
  appearance: auto; 
  border-bottom: 1px solid gray !important;
}

.campo textarea{
  border-bottom: 1px solid gray !important;
}

.btn {
  border-radius: 6px;
}



.form-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.btn{
  border-radius: 17px !important;
  background-color: #6ca76c !important;
  color: #f9fff9 !important;
  border: none;
}


.tiempo{
  display: flex;
  gap: 5px;  
  align-items: center;
}

p{
  margin-bottom: 0;
  font-size: x-large;
}

.tiempo input{
  width: 100px;
}

.fechaDuracion {
  display: flex;
  gap: 150px;  

}
