* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.container-fluid {
  background-color: #6a9b5d;
}

.navbar{
  height: 1% !important;
  background-color: #6a9b5d;
  border-color: #000000;
}

li {
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 5px 30px;
  border-radius: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
li:hover {
  background: green;
  color: white;
  border-color: green;
  padding: 2px 30px;
}

.logo{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}

.navbar-brand {
  color: white !important;
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: 1px;
}

.btn {
  background: transparent;
  border: 2px solid green;
  color: green;
  padding: 5px 30px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.btn {
  background: transparent;
  border: 2px solid green;
  color: green;
  padding: 5px 30px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.btn:hover {
  background: green;
  color: white;
  border-color: #fff;
}

/* OFFCANVAS */
.offcanvas-header {
  background: linear-gradient(135deg, #2d5016 0%, #4a7c2c 100%);
  color: white;
}

.offcanvas-body {
  background-color: rgb(250, 248, 248);
}

a.nav-link {
  color: #6a9b5d;
}

a.nav-link:hover {
  color: rgb(255, 255, 255);
}

.offcanvas-header {
  background-color: #6a9b5d;
}

h5.offcanvas-title {
  color: #ffffff;
}

.btn-close {
  background-color: #fafafa;
}


.offcanvas-title {
    font-weight: 600;
}

h3{
  color: #000;
}
h2 {
  color: #14532d;
  padding: 10px;
}

.resultado {
  border: solid black 1px;
  border-radius: 20px;
  width: 65%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.linea {
  width: 89%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
}

.espacio {
  border: solid white;
  border-radius: 10px;
  margin: 10px 0;
  padding: 4px;
  width: 80%;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: black;
  text-decoration: none;
}

.linea2 {
  width: 60%;
  height: 1px;
  background-color: rgb(153, 163, 172);
}


.item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.carousel-item {
  height: 60vh; 
  background-size: cover;
  background-position: center;
  background-color: #AD46FF;
}
.carousel-caption {
  background: rgba(0,0,0,0.5); 
  padding: 20px;
  border-radius: 10px;
}


.navbar{
  border-bottom: 1px solid black;
  justify-content: space-between;
}
.accesos{
  display: flex;
  margin-right: 20px;
  gap: 20px;
  align-items: center;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.campo label {
  font-size: 18px;
  font-family: "Delius", cursive;
}

.campo input,.campo select, .campo textarea {
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: "Sour Gummy", sans-seri;
  font-weight: 200;
}

.descripcion{
  overflow: hidden;
  resize: none;
}
                           
.crearNotificacion{
  background: none;
  border: none;
}

.bi{
  font-size: 30px;
  color: #000000;
}

.modal-header{
  background-color: #6ca76c;
}