#miFormulario{
  display: flex;
  max-width: 63%;
  min-width: 53%;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  margin: 100px 0px 30px 18%;
  min-height: 600px;
}

.form-container{
  display: flex;
  width: 55%;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  background: #ffff;
  color: rgb(0, 0, 0);
}

.fechas{
  display: flex;
  gap: 50px;
  width: 500px;
}

.sexos{
  display: flex;
  gap: 20px;
}
.campo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, select, textarea {
  border: none;
  outline: none;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: black;
}
input{
  border-bottom: 1px solid gray;
  color: black;
 }
select{
  appearance: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
}

.selecciones{
  color: #999;
}

textarea{
  border-bottom: 1px solid gray;
}

#myDropzone {
  display: flex;
  background: linear-gradient(145deg, #a8e6cf, #dcedc1);
  align-items: center;
  justify-content: center;
  border-radius: 0 12px 12px 0;
  border: none;
  overflow: hidden;
  width:45%;
  font-size: large;
}
.espaciodiv{
  display: flex;
}

.btn {
  border-radius: 17px;
  background-color: #6ca76c;
  color: #f9fff9;
}

/* Target al img que Dropzone inserta */
#myDropzone .dz-image {
  width: 100%;
  height: 100%;
  background: none;
}