#miFormulario{
  display: flex !important;
  max-width: 83% !important;
  min-width: 53% !important;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3) !important;
  margin: 100px 0px 30px 10% !important;
  min-height: 500px !important;
}

.form-container{
  display: flex !important;
  width: 55% !important;
  flex-direction: column !important;
  gap: 30px !important;
  padding: 40px !important;
  background: #ffff !important;
  color: rgb(0, 0, 0) !important;
}

.fechas{
  display: flex !important;
  gap: 20px !important;
  width: 500px !important;
}

.sexos{
  display: flex !important;
  gap: 20px !important;
}
.campo {
  display: flex !important; 
  flex-direction: column !important;
  width: 100% !important;
}

input, select, textarea {
  border: none !important;
  outline: none !important;
  font-family: "Zalando Sans SemiExpanded", sans-serif !important;
  font-style: normal !important;
  font-weight: 200 !important;
  color: black !important;
}
input{
  border-bottom: 1px solid gray !important;
  color: black !important;
 }
select{
  appearance: auto !important;
  border-bottom: 1px solid gray !important;
  padding-bottom: 3px !important;
}

.selecciones{
  color: #999 !important;
}

textarea{
  border-bottom: 1px solid gray !important;
}

#myDropzone {
  display: flex !important;
  background: linear-gradient(145deg, #a8e6cf, #dcedc1) !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0 12px 12px 0 !important;
  border: none !important;
  overflow: hidden !important;
  height: 642px !important;
  width:45% !important;
  font-size: large !important;
  
}

.btn {
  border-radius: 17px !important;
  background-color: #6ca76c !important;
  color: #f9fff9 !important;
}

/* Target al img que Dropzone inserta */
#myDropzone .dz-image {
  width: 100% !important;
  height: 100% !important;
  background: none !important;
}