
.navbar {
    background-color: #6ca76c !important;
}

.contenido{
  display: flex;
  justify-content: right;
  align-items: center;
  gap:10px;
  margin-left: 15px;
}

.bi{
  font-size:30px;
  color: white;
}

.select{
  appearance: a !important;
}

#miFormulario{
  display: flex;
  max-width: 63%;
  min-width: 53%;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  margin: 30px auto;
  display: flex !important;
  max-width: 63% !important;
  min-width: 53% !important;
  width: 100% !important;
  background: transparent !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3) !important;
  margin: 30px auto !important;
  min-height: 600px !important;
}

.form-container{
  display: flex;
  width: 55%;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  background: #ffff;
  color: rgb(0, 0, 0);
}

.fechas{
  display: flex;
  gap: 50px;
  width: 500px;
}

.sexos{
  display: flex;
  gap: 20px;
}
.campo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, select, textarea {
  border: none;
  outline: none;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: black;
}
input{
  border-bottom: 1px solid gray;
  color: black;
 }
select{
  appearance: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
}

.selecciones{
  color: #999;
}

textarea{
  border-bottom: 1px solid gray;
}

#myDropzone {
  display: flex;
  background: linear-gradient(145deg, #a8e6cf, #dcedc1);
  align-items: center;
  justify-content: center;
  border-radius: 0 12px 12px 0;
  border: none;
  overflow: hidden;
  height: 631px;
  width:45%;
  font-size: large;
}

.btn {
  border-radius: 17px;
  background-color: #6ca76c;
  color: #f9fff9;
}

/* Target al img que Dropzone inserta */
#myDropzone .dz-image {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 6px !important;
  background-color: #6ca76c !important;
  color: #f9fff9 !important;
}

.form-side {
    background: linear-gradient(145deg, #a8e6cf, #dcedc1) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 2rem !important;
    border-radius: 0 20px 20px 0 !important;
    position: relative !important;
    overflow: hidden !important;
}

.boton{
    border: none !important;
    text-align: left !important;
    background: none !important;
    color: #6ca76c !important;
    font-size: x-large !important;
    margin-top: 5px !important;
    font-family: "Delius", cursive !important;
}

.obligatorio {
    color: #af1c1c;
    font-weight: bold;
    margin-left: 3px;
}

.myDropzone { 
    display: flex !important;
    align-items: center !important;
    border: ridge !important;
    border-radius: 12px !important;
    background-color: transparent !important;
    height: 400px !important;
    cursor: pointer !important;
    font-size:25px !important;
}

.camposVacios::backdrop{
    background-color:rgba(0, 0, 0, .56) !important;
}
.camposVacios, .camposCompletos {
    max-width: 70ch !important;
    text-align: left !important;
    border-radius: 10px !important;
    border: 2px solid #af1c1c !important;
    font-family: "Montserrat", sans-serif !important;
}

.camposCompletos{
  padding: 40px;
}

.volver {
    max-height: 30px !important;
    max-width: 50px !important;
    width: 50px !important;
    border-radius: 10px !important;
    margin-left: 90% !important;
    background: none !important;
    border: none !important;
    color: #af1c1c !important;
    font-size: x-large !important;
}

