.navbar {
    border-bottom: 1px solid black !important;
}

.select{
  appearance: a !important;
}

#miFormulario{
  display: flex !important;
  max-width: 63% !important;
  min-width: 53% !important;
  width: 50% !important;
  flex-direction: column !important;
  background: transparent !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3) !important;
  margin: 30px auto !important;
  min-height: 600px !important;
  padding: 30px !important;
  gap: 10px ! important;
}

.form-box{
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
}

.campo {
  display: flex !important;
  flex-direction: column !important;
  gap: 5px !important;
}

.campo label {
  font-size: 18px !important;
  font-family: "Delius", cursive !important;
}

.campo input,
.campo select {
  border: none !important;
  border-radius: 6px !important;
  outline: none !important;
  font-family: "Sour Gummy", sans-seri !important;
  font-weight: 200 !important;
}
.campo input{
  padding: 8px !important;
  border-bottom: 1px solid gray !important;
 }

.campo select{
  appearance: auto !important; 
  border-bottom: 1px solid gray !important;
}

.btn {
  border-radius: 6px;
}

.form-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.boton{
    border: none;
    background: none;
    color: #af1c1c;
    font-size: x-large;
    margin-top: 5px;
    font-family: "Delius", cursive;
}

.obligatorio {
    color: #af1c1c;
    font-weight: bold;
    margin-left: 3px;
}

.myDropzone { 
    display: flex;
    align-items: center;
    border: 2px solid ;
    border-radius: 12px;
    background-color: #f9fff9;
    height: 400px;
    cursor: pointer;
    font-size:25px;
}

.camposVacios::backdrop{
    background-color:rgba(0, 0, 0, .56);
}
.camposVacios, .camposCompletos {
    max-width: 70ch;
    text-align: left;
    border-radius: 10px;
    border: 2px solid #af1c1c;
    font-family: "Montserrat", sans-serif;
}

#camposCompletos{
  padding: 40px;
}

#volver {
    max-height: 30px;
    max-width: 50px;
    width: 50px;
    border-radius: 10px;
    margin-left: 90%;
    background: none;
    border: none;
    color: #af1c1c;
    font-size: x-large;
}
