* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.container-fluid {
  display: flex;
  background-color: #6a9b5d;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

.navbar-brand span {
  color: #ffffff;
  font-size: 1.3rem;
}
.titulo2{
  color:white;
}

.logo{
  border-radius: 50% !important;
  width: 60px !important;
  height: 60px !important;
  margin-right: 1rem !important;
}
.volver {
  display: flex;
  height: 100% !important;
  border: 1px solid white;
  border-radius: 15px !important;
  background-color: #6ca76c !important;
  color: #f9fff9 !important;
  text-decoration: none !important;
  padding:  10px ;
}

#miFormulario, .habitat{
  display: flex !important;
  max-width: 63% !important;
  min-width: 53% !important;
  width: 50% !important;
  flex-direction: column !important;
  background: transparent !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3) !important;
  margin: 30px auto !important;
  padding: 30px !important;
  gap: 10px ! important;
}

.form-container{
  display: flex;
  flex-direction: column !important;
  gap: 20px ! important;
}

.form-box{
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
}

.campo {
  display: flex !important;
  flex-direction: column !important;
  gap: 5px !important;
}

.campo label, .titulo {
  font-size: 18px !important;
  font-family: "Delius", cursive !important;
}

.campo input,
.campo select {
  border: none !important;
  border-radius: 6px !important;
  outline: none !important;
  font-family: "Sour Gummy", sans-seri !important;
  font-weight: 200 !important;
}
.campo input{
  padding: 8px !important;
  border-bottom: 1px solid gray !important;
 }

.campo select{
  appearance: auto !important; 
  border-bottom: 1px solid gray !important;
}

.btn {
  border-radius: 17px !important;
  background-color: #6ca76c !important;
  color: #f9fff9 !important;
  border: none;
}

p{
  margin-bottom: 0;
}

.datos{
    display: flex;
    gap: 20px;
}


