.navbar {
    border-bottom: 1px solid black;
}

.menu{
    display: flex;
    justify-content:space-between ;
    margin-inline: 200px 150px;
    margin-top: 40px;
}

.verTurnos{
    border-radius: 17px;
    padding: 10px 20px;
    border: none;
    background-color: #aecc8bce
}

.botonesMenu, .botonEditar, #cerrarEditarHorario, #cerrarTurno, #cerrarHorario, #cerrarTurnos{
    background: none;
    border: none;
}

.bi{
    font-size: 30px;
}

.ladoIzquierdo{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom:10px ;
}


.campo label {
  font-size: 18px;
  font-family: "Delius", cursive;
}

.campo input{
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: "Sour Gummy", sans-seri;
  font-weight: 200;
}

#nuevoHorario, #nuevoTurno, #editarAsignacionTurno, #listaTurnos{
    width: 30%;
    border-radius: 15px;
    border: none;
    font-family: "Montserrat", sans-serif;
    background-color: #aecc8bce ;
    color: white;
    text-align: left; 
    padding: 0px 30px 30px;    
}

#listaTurnos{
     background-color: white;
     border: 1px solid black;

}
.cerrar{
    display: flex;
    justify-content: right;
}
.bi-x-circle{
    color: black;
}


#nuevoTurno::backdrop{
    background-color:rgba(0, 0, 0, .56);
}
#nuevoHorario::backdrop{
    background-color:rgba(0, 0, 0, .56);
}
#editarAsignacionTurno::backdrop{
    background-color:rgba(0, 0, 0, .56);
}
#listaTurnos::backdrop{
    background-color:rgba(0, 0, 0, .56);
}

select{
    width: 150px;
    height: 40px;
}

.horarios{
    display: flex;
    margin-top: 50px;
}

.table-striped{
    border-radius: 20px;
    border-collapse: separate;
    overflow: hidden;
    box-shadow: 0px 15px 20px rgba(59, 59, 59, 0.5);
    padding: 0;
    border-bottom-width:0px;
}
.table-striped-columns{
    border-collapse: collapse;
    border-radius: 200px;
    background-color: #4b7a4b;
}

.turno{
    display: flex;
    justify-content: space-between;
}

.bi-pencil-square,.bi-trash3{
    font-size: 20px;
}

.btn{
    background-color: #fff6d9;
    color: #4b7a4b ;
    border: none;
}

.button{
    background:none;
    border: none;
    width: 100%;
}

.horaFin{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.horaInicio{
    background-color: #aecc8b88 !important;
}