.container-fluid {
  background-color: #6ca76c;
}

.navbar-brand span {
  color: #ffffff;
  font-size: 1.3rem;
}
.titulo2{
  color:white;
}



.hero {
  background: url('../img/granja-bg.jpg') center/cover no-repeat;
  min-height: 90vh;
  position: relative;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
.logo{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}
.titulo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color:#24b650;

}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.hero .container {
  position: relative;
  z-index: 2;
}

/* TARJETAS */
.animal-card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 150px;
  background-color: #fff;
}

.animal-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.animal-card .card-body {
  padding: 0.7rem;
  text-align: center;
}

.animal-card h5 {
  color: #c0392b;
  font-size: 1rem;
  font-weight: bold;
}

.animal-card p {
  color: #6c757d;
  font-size: 0.85rem;
  margin-bottom: 0;
}

.animal-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* FOOTER */
footer {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  width: 100%;
}

/* General */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f8f9fa;
}
.text-light {
  color: #ffffff !important;
}
