
.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
}

.datos {
  display: flex;
  border-radius: 20px;
  padding: 2rem;
  width: 50%;
  box-shadow: 0 8px 20px #3c684eab;
  gap: 45px;
}

.informacion{
  display: flex;
  gap: 80px;

}

img{
  width: 200px;
  height: 100%;
}

.izquierda, .derecha{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  gap: 22px;
}

.titulo{
  font-weight: 600;
  color:#14532d;
  font-size: 22px;
}

.dato{
  font-size: 18px;
}
p{ margin-bottom: 0 !important;}