.contenedor {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-fluid{
    background-color: #982f2f;
}
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        }

input {
    padding: 3px;
    width: 100%;
}

button {
    padding: 10px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.offcanvas-body{
    background-color: rgb(19, 18, 18);
}
a.nav-link{
    color: #982f2f;
}
a.nav-link:hover{
    color: #9d0707;
    font-size: large;
}
.offcanvas-header{
    background-color: rgb(19, 18, 18);
}
h5.offcanvas-title{
    color: #982f2f;
}
.btn-close{
    background-color: #982f2f;
}