* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.container-fluid {
  display: flex;
  background-color: #6a9b5d;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

.navbar-brand span {
  color: #ffffff;
  font-size: 1.3rem;
}
.titulo2{
  color:white;
}

.logo{
  border-radius: 50% !important;
  width: 60px !important;
  height: 60px !important;
  margin-right: 1rem !important;
}
.volver {
  display: flex;
  height: 100% !important;
  border: 1px solid white;
  border-radius: 15px !important;
  background-color: #6ca76c !important;
  color: #f9fff9 !important;
  text-decoration: none !important;
  padding:  10px ;
}

/* === CONTENEDOR LOGIN === */
.login-container {
  display: flex;
  width: 900px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.281);
  margin: auto;
  margin-top: 60px; 
}

/* === IZQUIERDA: FORMULARIO === */
.login-form {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-form h2 {
  font-weight: 600;
  margin-bottom: 20px;
}


/* === INPUTS estilo primera imagen === */
.input-group {
  position: relative;
  margin: 20px 0;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6a9b5d;
}

.input-group input {
  width: 100%;
  padding: 10px 35px 10px 35px;
  border: none;
  border-bottom: 1px solid #6a9b5d;
  background: transparent;
  color: #383737;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-bottom: 2px solid green;
}

.input-group input::placeholder {
  color: #6a9b5d;
  font-weight: bold;
  opacity: 1;
}

/* Mostrar contraseña */
.show-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #6a9b5d;
  cursor: pointer;
}

/* Enlace de olvidó contraseña */
.forgot {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: #3bb397;
  text-decoration: none;
  padding: 10px;
}

.forgot:hover {
  text-decoration: underline;
}


.btn {
  background: transparent;
  border: 2px solid green;
  color: green;
  padding: 5px 30px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: green;
  color: white;
}

/* === DERECHA: BIENVENIDA === */
.login-welcome {
  flex: 1;
  background-color: #399f2d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  clip-path: ellipse(90% 100% at 100% 50%);
}

.login-welcome h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.login-welcome p {
  font-size: 1rem;
  margin-bottom: 25px;
  width: 80%;
}

.btn-back {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn-back:hover {
  background: white;
  color: #6ca76c;
}

/* Mensajes de error */
.mensaje {
  margin-top: 15px;
  font-weight: bold;
  color: #9d0707;
}

