.navbar {
    background-color: #6ca76c;;
}

.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-left: 15px;    
}

.menu{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20%;
  margin-top: 40px; 
}

.bi{
  font-size:40px;
  color: rgb(10, 10, 10);
}

.select{
  appearance: a;
}

.cerrar{
  display: flex;
  justify-content: right;
  background-color: #aecc8bce ;
  padding-top: 10px;
  padding-right: 10px;
}

#cerrarVenta{
  background:none;
  border: none;
}

#venderBoleta{
  flex-direction: column;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  padding:0;
  margin-top: 205px;
}

#miFormulario{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 0px 40px 40px;
  background-color: #aecc8bce ;
  border: none;
  
}

.boletas{
  display: flex;
  gap: 20px;
}


input, select {
  border: none;
  outline: none;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-style: normal;
  font-weight: 200;
  background: none;
}
input{
  border-bottom: 1px solid gray;
  color: black;
 }
#cantidad{
  width: 172px;
}
select{
  appearance: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
  padding-right: 8px;
}

.btn {
  border-radius: 17px;
  background-color: #6ca76c;
  color: #f9fff9;
}

.table-striped-columns{
    border-radius: 20px;
    overflow: hidden;
    border-collapse: separate;
    box-shadow: 0px 15px 20px rgba(59, 59, 59, 0.5);
    margin-top: 30px;
}

.abrirRegistro{
  background:none;
  border: none;
}
