.buscar{
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    padding-left: 20px;
}
.buscador{
    display: flex;
    width: 30%;
}
.form-control{
    width: 400px;
    border-color: rgb(128, 0, 0);
}

.bi-search{
    font-size: 20px;
    color: green;
}
.filtros{
    display: flex;
    gap: 15px;
    margin-right: 10px;
}
.filtrar{
    height: 45px;
    border-radius: 10px;
    border-color: green;
}

.listaAnimales{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline: 40px;
}

.ficha{
    display: flex;
    text-decoration: none;
    margin-inline: 70px;
    gap: 40px;
    color: black;
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.3);
    margin-bottom: 25px ;
}

.ficha:hover {
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  transform: translateY(-10px); 
}
.imagen{
    width: 120px !important;
    height: 100% !important;
    margin: 10px !important;
    border-radius:17px !important;
}

.informacion{
    display: flex;
    padding-right: 50px;    
    gap: 55px;
    /* background-color: blueviolet; */
    width: 100%;
    align-items: center;
    margin-block: 18px;
}
.datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dato{
    display: flex;
    flex-direction: column; 
}
.titulo {
    color: black;
    font-size: x-large;
    font-weight: 350;
}

p{
    margin-bottom: 0rem !important;
    padding: 0;
}
.texto{
    font-size: larger;
    font-weight: lighter;
}
.filtro{
   display: none; 
}

.bi-trash3{
    font-size: xx-large;
    color: rgb(202, 36, 36);
}

.boton{
    background: none;
    border: none;
}

.bi-plus-lg, .bi-bookmark-plus{
    font-size: 30px;
    color: black;
}

