.navbar {
    border-bottom: 1px solid black;
}

.menu{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    margin-right: 210px ;
    margin-top: 40px;
    
}

.campo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom:10px ;
}


.campo label {
  font-family: "Delius", cursive;
  color: black;
}

.campo input{
  border-radius: 6px;
  font-family: "Sour Gummy", sans-seri;
  font-weight: 200;
  background-color: rgb(213, 214, 216);
  border: none;
  width: 50px;
  text-align: center;
}

.limite{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 100px;
}

#limiteAnimal{
    width: 30% !important;
    border-radius: 15px !important;
    border: 1px solid black !important;
    font-family: "Montserrat", sans-serif !important;
    background-color: #ffffff !important;
    color: white !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
} 

#limiteAnimal::backdrop {
    background: rgba(0,0,0,0.5);
}

.cerrar{
    display: flex;
    justify-content: right;
}

.bi{
    font-size: 40px;
    color: black;
}

.actividades{
    display: flex;
    margin-top: 40px;
    width: 100%;
}

.table-striped-columns{
    border-radius: 20px;
    overflow: hidden;
    border-collapse: separate;
    box-shadow: 0px 15px 20px rgba(59, 59, 59, 0.5);
}

td, th{
    padding-inline: 100px;
}

.btn{
    border-radius: 17px !important;
    background-color: #6ca76c !important;
    color: #f9fff9 !important;
    border: none !important;
}


.opciones{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.bi-pencil-square, .bi-trash3{
    font-size: 20px;
}

button {
    background: none;
    border: none;
}

.imprimir{
    border-radius: 17px;
    padding: 10px 20px;
    border: none;
    background-color: #aecc8bce;
    text-decoration: none;
    color: black;
}