body{
    display: flex;
    justify-content: center;
}

.contenedor{
   background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 70px;
}

p{
    font-size: large;
    color: black;
}
.container-fluid{
    background-color: #AD46FF;
}
.offcanvas-body{
    background-color: rgb(19, 18, 18);
}
a.nav-link{
    color: #AD46FF;
}
a.nav-link:hover{
    color: #f946ff;
    font-size: large;
}
.offcanvas-header{
    background-color: rgb(19, 18, 18);
}
h5.offcanvas-title{
    color: #AD46FF;
}
.btn-close{
    background-color: #AD46FF;
}