body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        }
.formulario {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}
button {
    padding: 10px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container-fluid{
    background-color: #AD46FF;
}
.mensaje {
    margin-top: 15px;
    font-weight: bold;
}

.offcanvas-body{
    background-color: rgb(19, 18, 18);
}
a.nav-link{
    color: #AD46FF;
}
a.nav-link:hover{
    color: #f946ff;
    font-size: large;
}
.offcanvas-header{
    background-color: rgb(19, 18, 18);
}
h5.offcanvas-title{
    color: #AD46FF;
}
.btn-close{
    background-color: #AD46FF;
}