<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/accesos.css') }}">
  <title>Document</title>
</head>
<body>
  {% include "navAHome.html" %}
  <div class="titulo"><h1>Accesos a módulos por rol</h2></div>
  

<div class="roles-modulos-table">

  <div class="rol">
    <h3>Admin</h3>
    <ul>
      <li>Crear Animal</li>
      <li>Crear Hábitats</li>
      <li>Crear Especies</li>
      <li>Turnos</li>
      <li>Ver Animales</li>
      <li>Ver Usuarios</li>
      <li>Ver Hábitats</li>
      <li>Cirugía</li>
      <li>Medicación</li>
      <li>Postoperatorio</li>
      <li>Terapia Física</li>
      <li>Vacunas</li>
      <li>Visita</li>
      <li>Ver Actividad</li>
      <li>Registro</li>
      <li>Venta de boletos</li>
      <li>Tareas</li>
      <li>Ver perfil</li>
      <li>Agregar Alimento</li>
    </ul>
  </div>

  <div class="rol">
    <h3>Cuidador</h3>
    <ul>
      <li>Crear Animal</li>
      <li>Crear Hábitats</li>
      <li>Ver Animales</li>
      <li>Cirugía</li>
      <li>Medicación</li>
      <li>Postoperatorio</li>
      <li>Terapia Física</li>
      <li>Vacunas</li>
      <li>Visitas</li>
      <li>Eventos</li>
      <li>Crear Dieta</li>
      <li>Ver Dietas</li>
      <li>Agregar Alimento</li>
      <li>Asignar Hábitat</li>
      <li>Reporte</li>
      <li>Buscar Hábitat</li>
      <li>Tareas</li>
    </ul>
  </div>

  <div class="rol">
    <h3>Guía</h3>
    <ul>
      <li>Ver Animales</li>
      <li>Crear Actividad</li>
    </ul>
  </div>

  <div class="rol">
    <h3>RRHH</h3>
    <ul>
      <li>Registro</li>
      <li>Accesos</li>
    </ul>
  </div>

</div>

</body>
</html>