
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css y js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- estilo ccs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actividad.css') }}">

    <!-- select 2 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>CREAR ANIMAL</title>
</head>
<body>
    <nav class="navbarr">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" 
             alt="Logo Granja Machis"  class="me-2">
        <span class="titulo-2">Livestock Log</span>
      </a>
    <a href="{{ url_for('actividad_bp.ver_actividades') }}"class="volver btn-outline-light w-20 ">Volver a lista de actividades</a>
    </div>
  </nav>
<form id="miFormulario" action="{{ url_for('actividad_bp.actualizar_actividad',idActividad=actividad.idActividad) }}" method="post">
    <div class="form-container">
        <div class="form-box">
            <div class="campo">
                <label for="idEspecie">Especie:<span class="obligatorio">*</span></label>
                <select id="idEspecie" name="idEspecie" class="select-multiple" multiple disabled>
                    {% for especie in especies %}
                        <option value="{{ especie.idEspecie }}" {% if especie.idEspecie in selected_especies %} selected {% endif %}>{{ especie.tipoEspecie }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="campo">
                <label for="idUsuario">Usuario:<span class="obligatorio">*</span></label>
                <select id="idUsuario" name="idUsuario" class="form-control" >
                <option value="{{ actividad.idUsuario }}">{{ actividad.nombre }} {{ actividad.apellido }}</option>
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.idUsuario }}">{{ usuario.nombre }} {{ usuario.apellido }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="campo">
                <label for="habitat">Habitat:<span class="obligatorio">*</span></label>
                <select id="habitat" name="idHabitat" class="select-multiple" multiple disabled>
                    {% for hab in habitats %}
                        <option value="{{ hab.idHabitat }}" {% if hab.idHabitat in selected_habitats %} selected {% endif %}>{{ hab.nombreHabitat }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="campo">
                <label for="tipo">Tipo de actividad:<span class="obligatorio">*</span></label>
                <select id="tipo" name="tipo" class="form-control" >
                    <option value="{{ actividad.tipo}}">{{ actividad.tipo }}</option>
                    <option value="Interaccion">Interacción</option>
                    <option value="Recorrido">Recorrido</option>
                    <option value="Charlas educativas">Charlas educativas</option>
                    <option value="Exhibicion interactivas">Exhibición interactivas</option>
                </select>
            </div>
            <div class="fechaDuracion"> 
                <div class="campo">
                    <label for="duracion">Duración:<span class="obligatorio">*</span></label>
                    <div class="tiempo">
                    <input value="{{actividad.duracion}}" name="duracion" type="text" id="duracion">
                    </div>
                </div>
                <div class="campo">
                    <label for="realizacion">Fecha de la acatividad:<span class="obligatorio">*</span></label>
                    <input type="date" id="realizacion" name="fechaRealizacion" value="{{actividad.fechaRealizacion}}">
                </div>
            </div>
            <div class="campo">
                <label for="detalles">Detalles:<span class="obligatorio">*</span></label>
                <textarea id="detalles" name="detalles" class="form-control" value="{{ actividad.detalles }}">{{ actividad.detalles }}</textarea>
            </div>
            <button class="btn btn-danger mt-3 w-100" type="button" onclick="validar()">Actualizar</button>
            <button class="btn btn-danger mt-3 w-100" type="button" onclick="vaciarFormulario()">Vaciar</button>
        </div>
    </div>
</form>


<script src="{{ url_for('static', filename='js/editarActividad.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <script>
      {% for category, message in messages %}
        Swal.fire({
          icon: '{{ category }}',
          title: '{{ message }}',
          showConfirmButton: false,
          timer: 2000,

          timerProgressBar: true
        }).then(() => {
          window.location.href = "{{ url_for('actividad_bp.ver_actividades') }}";
        });
      {% endfor %}
    </script>
  {% endif %}
{% endwith %}
</body>
</html>