{% extends "base.html" %}

{% block contenido %}
{% if rol_usuario == 'Admin' %}
    {% include "navAdmi.html" %}
{% else %}
    {% include "navCuidador.html" %}
{% endif %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/habitat.css') }}">
{% endblock %}
<form id="miFormulario" method="post" action="{{ url_for('habitat_bp.crear_habitat') }}">
            <div class="campo">
                <label for="nombreHabitat">Nombre de hábitat:<span class="obligatorio">*</span></label>
                <input type="text" id="nombreHabitat" name="nombreHabitat">
            </div>
            <div class="campo"> 
                <label>Temperatura:</label>
                <div class="temperaturas">
                    <input type="text" class="temperatura" name="minTemperatura" placeholder="Min" id="minTemperatura">
                    <input type="text" class="temperatura" name="maxTemperatura" placeholder="Max" id="maxTemperatura">
                </div>
            </div>
            <div class="campo">
                <label for="estado">Estado:<span class="obligatorio">*</span></label>
                <select id="estado" name="estado" class="form-control">
                    <option value=""></option>
                    <option value="Activo">Activo</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Cerrado">Cerrado</option>
                </select>  
            </div>
            <div class="campo">
                <label for="humedad">Humedad relativa:</label>
                <input type="text" id="humedad" name="humedad">
            </div> 
            <div class="campo">
                <label for="tipo">Tipo de hábitat:<span class="obligatorio">*</span></label>
                <select id="tipo" name="tipo" class="form-control">
                    <option value=""></option>
                    <option value="Prado">Prado</option>
                    <option value="Corral">Corral</option>
                </select>
            </div>
            <div class="campo">
                <label for="tamaño">Tamaño en mt<sup>2</sup>:</label>
                <input type="text" id="tamaño" name="tamaño">
            </div>
            <div class="campo">
                <label for="capacidad">Capacidad:<span class="obligatorio">*</span></label>
                <input type="number" id="capacidad" name="capacidad">
            </div> 

        <!-- Botones -->
        <button id="registrar" class="btn btn-danger mt-3 w-100" type="button" onclick="validar()">Registrar</button>
        <button class="btn btn-secondary mt-2 w-100" type="button" onclick="vaciarFormulario()">Vaciar</button>
    
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/habitat.js') }}"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <script>
      {% for category, message in messages %}
        {% if category == 'success' %}
            Swal.fire({
            icon: 'success',
            title: '{{ message }}',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true
            }).then(() => {
            window.location.href = "{{ url_for('habitat_bp.ver_habitats') }}";
            });
            {% elif category == 'error' %}
            Swal.fire({
                icon: 'error',
                title: '{{ message }}',
                confirmButtonText: 'Entendido',
                confirmButtonColor: '#d33'
            });
        {% endif %}
      {% endfor %}
    </script>
  {% endif %}
{% endwith %}

{% endblock %}
