<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/habitat.css') }}">
</head>
<body>
    <nav class="navbarr">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" 
             alt="Logo Granja Machis"  class="me-2">
        <span class="titulo-2">Livestock Log</span>
      </a>
    <a href="{{ url_for('habitat_bp.ver_habitats') }}" class="volver btn-outline-light w-20 ">Volver a lista de habitats</a>
    </div>
  </nav>
<form id="miFormulario" method="post" action="{{ url_for('habitat_bp.crear_habitat') }}">
            <div class="campo">
                <label for="nombreHabitat">Nombre de hábitat:<span class="obligatorio">*</span></label>
                <input type="text" id="nombreHabitat" name="nombreHabitat">
            </div>
            <div class="campo"> 
                <label>Temperatura:</label>
                <div class="temperaturas">
                    <input type="text" class="temperatura" name="minTemperatura" placeholder="Min" id="minTemperatura">
                    <input type="text" class="temperatura" name="maxTemperatura" placeholder="Max" id="maxTemperatura">
                </div>
            </div>
            <div class="campo">
                <label for="estado">Estado:<span class="obligatorio">*</span></label>
                <select id="estado" name="estado" class="form-control">
                    <option value=""></option>
                    <option value="Activo">Activo</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Cerrado">Cerrado</option>
                </select>  
            </div>
            <div class="campo">
                <label for="humedad">Humedad relativa:</label>
                <input type="text" id="humedad" name="humedad">
            </div> 
            <div class="campo">
                <label for="tipo">Tipo de hábitat:<span class="obligatorio">*</span></label>
                <select id="tipo" name="tipo" class="form-control">
                    <option value=""></option>
                    <option value="Prado">Prado</option>
                    <option value="Corral">Corral</option>
                </select>
            </div>
            <div class="campo">
                <label for="tamaño">Tamaño en mt<sup>2</sup>:</label>
                <input type="text" id="tamaño" name="tamaño">
            </div>
            <div class="campo">
                <label for="capacidad">Capacidad:<span class="obligatorio">*</span></label>
                <input type="number" id="capacidad" name="capacidad">
            </div> 

        <!-- Botones -->
        <button id="registrar" class="btn mt-3 w-100" type="button" onclick="validar()">Registrar</button>
        <button class="btn w-100" type="button" onclick="vaciarFormulario()">Vaciar</button>
    
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/habitat.js') }}"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <script>
      {% for category, message in messages %}
        {% if category == 'success' %}
            Swal.fire({
            icon: 'success',
            title: '{{ message }}',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true
            }).then(() => {
            window.location.href = "{{ url_for('habitat_bp.ver_habitats') }}";
            });
            {% elif category == 'error' %}
            Swal.fire({
                icon: 'error',
                title: '{{ message }}',
                confirmButtonText: 'Entendido',
                confirmButtonColor: '#d33'
            });
        {% endif %}
      {% endfor %}
    </script>
  {% endif %}
{% endwith %}
</body>
</html>
