{% extends "base.html" %}

{% block contenido %}
{% if rol_usuario == 'admin' %}
    {% include "navAdmi.html" %}
{% else %}
    {% include "navCuidador.html" %}
{% endif %}
<form id="miFormulario" method="post" action="{{ url_for('habitat_bp.crear_habitat') }}">
    <div class="form-container">
            <div class="campo">
                <label for="nombreHabitat">Nombre de hábitat:<span class="obligatorio">*</span></label>
                <input type="text" id="nombreHabitat" name="nombreHabitat">
            </div>
            <div class="campo"> 
                <label>Temperatura:</label>
                <div class="temperaturas">
                    <input type="text" class="temperatura" name="minTemperatura" placeholder="Min" id="minTemperatura">
                    <input type="text" class="temperatura" name="maxTemperatura" placeholder="Max" id="maxTemperatura">
                </div>
            </div>
            <div class="campo">
                <label for="estado">Estado:<span class="obligatorio">*</span></label>
                <select id="estado" name="estado" class="form-control">
                    <option value=""></option>
                    <option value="Activo">Activo</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Cerrado">Cerrado</option>
                </select>  
            </div>
            <div class="campo">
                <label for="humedad">Humedad relativa:</label>
                <input type="text" id="humedad" name="humedad">
            </div> 
            <div class="campo">
                <label for="tipo">Tipo de hábitat:<span class="obligatorio">*</span></label>
                <select id="tipo" name="tipo" class="form-control">
                    <option value=""></option>
                    <option value="Prado">Prado</option>
                    <option value="Corral">Corral</option>
                </select>
            </div>
            <div class="campo">
                <label for="tamaño">Tamaño en mt<sup>2</sup>:</label>
                <input type="text" id="tamaño" name="tamaño">
            </div>
            <div class="campo">
                <label for="capacidad">Capacidad:<span class="obligatorio">*</span></label>
                <input type="number" id="capacidad" name="capacidad">
            </div> 

        <!-- Botones -->
        <button id="registrar" class="btn btn-danger mt-3 w-100" type="submit">Registrar</button>
        <button class="btn btn-secondary mt-2 w-100" type="button" onclick="vaciarFormulario()">Vaciar</button>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/habitat.js') }}"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
        
      {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}
