{% extends "base.html" %}

{% block titulo %}Registro de Usuario{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock %}

{% block contenido %}
<div class="login-container">
  <!-- Sección izquierda: formulario -->
  <div class="login-form">
    <h3>Registro</h3>
    <!-- Agregamos enctype para subir archivos -->
    <form id="formRegistro" method="POST" action="{{ url_for('auth.registro') }}" enctype="multipart/form-data">
      <div class="input-group">
        <input type="text" name="nombre" placeholder="Nombre de Usuario" required>
        {% if mensaje_usuario %}
          <p style="color:red">{{ mensaje_usuario }}</p>
        {% endif %}

        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
        <small id="passwordHelp" class="text-danger"></small>

        <select name="rol" required>
            <option value="">Rol</option>
            <option value="Admin">Administrador</option>
            <option value="Guia">Guia</option>
            <option value="Cuidador">Cuidador</option>
            <option value="RRHH">RRHH</option>
        </select><br>

        <input type="text" name="apellido" placeholder="Apellido"><br>
        <input type="text" name="documento" placeholder="Documento"><br>
        <input type="text" name="telefono" placeholder="Teléfono"><br>

        <input type="email" name="correo" placeholder="Correo" required>
        {% if mensaje_correo %}
          <p style="color:red">{{ mensaje_correo }}</p>
        {% endif %}
        
        <!-- Campo de foto -->
        <input type="file" name="foto" accept="image/*"><br>
      </div>

      <button type="submit" class="btn">Registrar Usuario</button>
    </form>
  </div>

  <!-- Sección derecha: bienvenida -->
  <div class="login-welcome">
    <h2>¡Registra Usuarios!</h2>
    <p>Ingresa los datos individuales del nuevo usuario y registralo</p>
    <a href="{{ url_for('main.index') }}" class="btn-back">Regresar al Inicio</a>
  </div>

  {% if mensaje %}
    <p style="color:green">{{ mensaje }}</p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/Contraseña.js') }}"></script>
{% endblock %}
