{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Tareas Pendientes</h2>

  <table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>Prioridad</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        {% for tarea in pendientes %}
            <td>{{ tarea.nombreTarea }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.prioridad }}</td>
            <td>{{ tarea.fechaInicio }}</td>
            <td>{{ tarea.fechaFin }}</td>
            <td>{{ tarea.estado }}</td>

            <td>
                {% if tarea.estado == "Pendiente" %}
                    <a href="{{ url_for('tareas.cambiar_estado', id=tarea.idTarea, estado='Realizada') }}"
                       class="btn btn-success">
                        Marcar Realizada
                    </a>
                {% else %}
                    <button class="btn btn-secondary" disabled>
                        No realizada
                    </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}
