<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/terapiafisica.css') }}">
</head>
<body>
{% include "navEventos.html" %}

<div class="form-container">

    <div class="form-box">
        <form id="formTerapia" action="{{ url_for('eventos.registro_terapia') }}" method="POST">

            <h2>Terapia Física</h2>

            <div class="form-row">
                <label for="idAnimal">Animal*</label>
                <select class="form-control" name="idAnimal" id="idAnimal" required>
                    <option value="">Selecciona un animal</option>
                    {% for animal in animales %}
                        <option value="{{ animal.idAnimal }}">{{ animal.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-row">
                <label for="tipoTerapia">Tipo de terapia*</label>
                <input type="text" class="form-control" name="tipoTerapia" id="tipoTerapia" required>
            </div>

            <div class="form-row">
                <label for="objetivoSesion">Objetivo de la sesión*</label>
                <input type="text" class="form-control" name="objetivoSesion" id="objetivoSesion" required>
            </div>

            <div class="form-row">
                <label for="diaSesion">Día de la sesión*</label>
                <input type="date" class="form-control" name="diaSesion" id="diaSesion" required>
            </div>

            <div class="form-row">
                <label for="proximaSesion">Próxima sesión*</label>
                <input type="date" class="form-control" name="proximaSesion" id="proximaSesion" required>
            </div>

            <div class="form-row">
                <label for="duracionSesion">Duración*</label>
                <input type="text" class="form-control" name="duracionSesion" id="duracionSesion" required>
            </div>

            <div class="form-row">
                <label for="evaluacion">Evaluación</label>
                <input type="text" class="form-control" name="evaluacion" id="evaluacion">
            </div>

            <button type="submit" class="btn btn-danger mt-3 w-100">Guardar</button>

        </form>
    </div>



</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message"
                 data-tipo="{{ category if category else 'success' }}"
                 data-mensaje="{{ message }}"
                 hidden></div>
        {% endfor %}
    {% endif %}
{% endwith %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/alertas.js') }}"></script>

