<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo ccs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verActividad.css') }}">
    <title>CREAR HABITAT</title>
</head>
  <body>
     {% include "navAHome.html" %}
<div class="menu">
  <button class="botonEditar" id="ponerlimite" type="button">
    <i class="bi bi-sort-up-alt"></i>
  </button>
  <dialog id="limiteAnimal">
    <div class="cerrar"><button id="cerrarLimite" type="button"><i class="bi bi-x-circle"></i></button></div>
    <form class="limite" method="post" action="{{ url_for('actividad_bp.uso_animales') }}">
      <div class="campo">
        <label for="idUsuario">Ingrese el limite de todas las especie que se podran asignar por semana:</label>
        <input type="number" id="limite" name="limite" min="0" value="{{ limite }}">
      </div>
      <button type="submit" class="btn btn-danger mt-3">Guardar</button>
    </form>
  </dialog>
  <a href="{{ url_for('actividad_bp.registro_actividad') }}">
    <i class="bi bi-plus-lg"></i>
  </a>
</div>
<div class="actividades container" >
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th>GUIA</th>
        <th>TIPO</th>
        <th>ESPECIES</th>
        <th>HABITATS</th>
        <th>FECHA DE CREACION</th>
        <th>DURACIOM</th>
        <th>DETALLES</th>
        <th>FECHA DE REALIZACION</th>
      </tr>
    </thead>
    <tbody>
      {% for actividad in actividades %}
        <tr>
          <td>{{ actividad.nombre }} {{ actividad.apellido }}</td>
          <td>{{ actividad.tipo }}</td>
          <td>{{ actividad.especie }}</td>
          <td>{{ actividad.habitat }}</td>
          <td>{{ actividad.fechaCreacion }}</td>
          <td>{{ actividad.duracion }}</td>
          <td>{{ actividad.detalles }}</td> 
          <td>
            <div class="opciones">
              {{ actividad.fechaRealizacion }}
              <a href="{{ url_for('actividad_bp.editar_actividad',idActividad=actividad.idActividad) }}">
                  <i class="bi bi-pencil-square"></i>
              </a>
              <form action="{{ url_for ('actividad_bp.eliminar_actividad', idActividad = actividad.idActividad)}}" method="POST">
                <button type="submit" onclick="return confirm('estas seguro de que quieres eliminar esta actividad');">
                  <i class="bi bi-trash3"></i>
                </button>
              </form></div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="{{ url_for('static', filename='js/verActividad.js') }}"></script>
</body>
</html>