{% extends "base.html" %}

{% block contenido %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/verAnimal.css') }}">
{% endblock %}

<div class="buscar">
  <div class="buscador">
    <input class="form-control" type="search" placeholder="Nombre del animal" id="buscador">
  </div> 
  <div class="filtros">
    <a href="{{ url_for('animales.registro_animal') }}">
      <i class="bi bi-plus-lg"></i>
    </a>
    <select id="filtroEspecie">
      <option value="">Todas las especies</option>
      {% for especie in especies %}
        <option value="{{ especie.tipoEspecie }}">{{ especie.tipoEspecie }}</option>
      {% endfor %}
    </select>

    <select id="filtroSalud">
      <option value="">Todos los estados de salud</option>
      {% for estado in estados %}
        <option value="{{ estado }}">{{ estado }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="listaAnimales" id="data">
  {% for animal in animales %}
    <a href="{{ url_for('animales.ver_animal', idAnimal=animal.idAnimal) }}" class="ficha">
        {% if animal.imagen %}
          <img src="{{ url_for('static', filename='uploads/' + animal.imagen) }}" class="imagen">
        {% endif %}
        <div class="informacion">
            <div class="datos">
              <div class="dato">
                <p class="titulo">Nombre</p>
                <p class="texto nombre">{{ animal.nombre }}</p>
              </div>
              <div class="dato">
                <p class="titulo">Especie:</p>
                <p class="texto especie">{{ animal.tipoEspecie }} </p>
              </div>
            </div>
            <div class="datos">
              <div class="dato">
                <p class="titulo">Edad:</p>
                <p class="texto edad">{{ animal.edad }}</p>
              </div>
              <div class="dato">
                <p class="titulo">Fecha de nacimiento:</p>
                <p class="texto">{{ animal.fechaNacimiento }}</p>
              </div>
            </div>
            <div class="datos">
              <div class="dato">
                <p class="titulo">Fecha de ingreso:</p>
                <p class="texto">{{ animal.fechaLlegada }}</p>
              </div>
              <div class="dato">
                <p class="titulo">Estado de salud:</p>
                <p class="texto salud">{{ animal.estadoSalud }}</p>
              </div>
            </div>
            <div class="datos">
              <div class="dato">
                <p class="titulo">Habitat:</p>
                <p class="texto">{{ animal.nombreHabitat }} </p>
              </div>
            </div>
            <form action="{{ url_for('animales.eliminar_animal', idAnimal=animal.idAnimal) }}" method="POST">
              <button type="submit" class="boton" onclick="return confirm('¿Estás seguro de que quieres eliminar este animal?');">
                <i class="bi bi-trash3"></i>
              </button>
            </form>
        </div>
    </a> 
  {% endfor %}
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/verAnimal.js') }}"></script>
{% endblock %}

{% endblock %}
