<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
    <!-- estilo ccs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verAnimal.css') }}">
</head>
<body>
     {% include "navAHome.html" %}

 <div class="buscar ">
  <div class="buscador">
    <input class="form-control" type="search" placeholder="Nombre del habitat" id="buscador">
  </div>  
  <div class="filtros">
    <a href="{{ url_for('habitat_bp.crear_habitat') }}">
      <i class="bi bi-plus-lg"></i>
    </a>
    <select id="filtroTipo">
      <option value="">Todas los tipos</option>
      {% for tipo in tipos %}
        <option value="{{ tipo }}">{{ tipo }}</option>
      {% endfor %}
    </select>

    <select id="filtroEstado">
      <option value="">Todos los estados</option>
      {% for estado in estados %}
        <option value="{{ estado }}">{{ estado }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="listaAnimales" id="data">
  {% for habitat in habitats %}
    <a href="{{url_for('habitat_bp.ver_habitat', idHabitat=habitat.idHabitat)}}" class="ficha">
                <div class="informacion">
                    <div class="datos">
                      <div class="dato">
                        <p class="titulo">Nombre</p>
                        <p class="texto nombre">{{habitat.nombreHabitat }}</p>
                      </div>
                      <div class="dato">
                        <p class="titulo">maxima temperatura:</p>
                        <p class="texto">{{ habitat.maxTemperatura }}</p>
                      </div>
                    </div>
                    <div class="datos">
                      <div class="dato">
                        <p class="titulo">estado:</p>
                        <p class="texto estado">{{ habitat.estado }}</p>
                      </div>
                      <div class="dato">
                        <p class="titulo">humedad:</p>
                        <p class="texto">{{ habitat.humedad }}</p>
                      </div>
                    </div>
                    <div class="datos">
                      <div class="dato">
                        <p class="titulo">tipo</p>
                        <p class="texto tipo">{{ habitat.tipo }}</p>
                      </div>
                      <div class="dato">
                        <p class="titulo">tamaño:</p>
                        <p class="texto">{{ habitat.tamaño }}</p>
                      </div>
                    </div>
                    <div class="datos">
                      <div class="dato">
                        <p class="titulo">capacidad:</p>
                        <p class="texto">{{ habitat.capacidad }}</p>
                      </div>
                    </div>
                    <form action="{{url_for('habitat_bp.eliminar_habitat', idHabitat=habitat.idHabitat) }}" method="POST">
                      <button class="boton" type="submit" onclick="return confirm('estas seguro de eliminar el habitat');">
                        <i class="bi bi-trash3"></i>
                      </button>
                    </form>
                </div>
    </a> 
  {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/verHabitat.js') }}"></script>
</body>
</html>