<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <title>Document</title>
</head>
<body>

{% include "navAHome.html" %}

<div class="perfil">
    <div class="datos">
        <div>
            <img src="{{ url_for('static', filename=usuario.foto) }}" >
        </div>
        <div class="informacion">
            <div class="izquierda">
                <div class="campo">
                    <p class="titulo">Nombre completo</p>
                    <p class="dato">{{usuario.nombre }} {{ usuario.apellido }}</p>
                </div>
                <div class="campo">
                    <p class="titulo">Rol asignado:</p>
                    <p class="dato">{{ usuario.rol }}</p>
                </div>
                <div class="campo">
                    <p class="titulo">Numero de documento:</p>
                    <p class="dato">{{ usuario.documento }}</p>
                </div>
            </div>
            <div class="derecha">
                <div class="campo">
                    <p class="titulo">Numero de telefono:</p>
                    <p class="dato">{{ usuario.telefono }}</p>
                </div>
                <div class="campo">
                    <p class="titulo">Correo electronico:</p>
                    <p class="dato">{{ usuario.correo }}</p>
                </div>
                <div class="campo">
                    <p class="titulo">Turno asignado:</p>
                    <p class="dato">{{ usuario.nombreTurno }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>