<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/verAnimal.css') }}">
</head>
<body>
  {% include "navAHome.html" %}

<!-- Navegación por roles y opciones -->
<div class="buscar">
  <div class="buscador">
    <input class="form-control" type="search" placeholder="Nombre del usuario" id="buscador">
  </div>
  <div class="filtros">
    <a href="{{ url_for('auth.registro') }}">
      <i class="bi bi-plus-lg"></i>
    </a>
    <select id="filtroRol">
      <option value="">Todos los roles</option>
      {% for rol in roles %}
        <option value="{{ rol }}">{{ rol }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<!-- Lista de usuarios -->
<div class="listaUsuarios">
  {% for usuario in usuarios %}
    <a href="{{ url_for('auth.ver_usuario', idUsuario=usuario.idUsuario) }}" class="ficha">
        {% if usuario.foto %}
          <img src="{{ url_for('static', filename=usuario.foto) }}" class="imagen">
        {% else %}
          <img src="{{ url_for('static', filename='img/default_user.png') }}" class="imagen">
        {% endif %}
        <div class="informacion">
            <div class="datos">
              <div class="dato">
                <p class="titulo">Nombre</p>
                <p class="texto nombre">{{ usuario.nombre }}</p>
              </div>
              <div class="dato">
                <p class="titulo">Apellido</p>
                <p class="texto">{{ usuario.apellido }}</p>
              </div>
            </div>
            <div class="datos">
              <div class="dato">
                <p class="titulo">Rol</p>
                <p class="texto rol">{{ usuario.rol }}</p>
              </div>
              <div class="dato">
                <p class="titulo">Documento</p>
                <p class="texto">{{ usuario.documento }}</p>
              </div>
            </div>
            <div class="datos">
              <div class="dato">
                <p class="titulo">Teléfono</p>
                <p class="texto">{{ usuario.telefono }}</p>
              </div>
              <div class="dato">
                <p class="titulo">Correo</p>
                <p class="texto">{{ usuario.correo }}</p>
              </div>
            </div> 
            <form action="{{ url_for('auth.eliminar_usuario', idUsuario=usuario.idUsuario) }}" method="POST">
              <button type="submit" class="boton" onclick="return confirm('¿Estás seguro de que quieres eliminar este usuario?');">
                <i class="bi bi-trash3"></i>
              </button>
            </form>
           

        </div>
    </a> 
  {% endfor %}
</div>


<script src="{{ url_for('static', filename='js/verUsuario.js') }}"></script>

</body>
</html>